:root {
    /*
    --background-clr: #ebebeb;
    --clr-yellow-ml: #fff159;
    --clr-white: #fff;
    --clr-blue-link: #47f;
    */
    --background-clr: #ebebeb;
    --clr-yellow-ml: #F2BE22;
    --clr-white: #fff;
    --clr-blue-link: #22A699;
    --clr-gradient1: #F29727;
    --clr-gradient2: #F24C3D;
}

@keyframes moving-gradient {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

a {
    color: var(--clr-blue-link);
    text-decoration: none;
}

a:hover {
    color: var(--clr-gradient2);
}

body {
    background-color: var(--background-clr);
}

/* mobile nav */
.mobile-nav {
    z-index: 9999999999;
    height: 0;
    display: none;
    .hamburguer {
        box-sizing: content-box;
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        padding: 0.5rem;
        z-index: 999999999999999;
        position: fixed;
        top: 1rem;
        right: 1rem;
        box-shadow: 3px 3px 0.5rem #333;
    }

    .vertical-nav {
        transition: all 0.3s ease;

        position: fixed;
        bottom: 0rem;

        font-size: 1.5em;
        font-weight: bold;

        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 0.5rem;

        background-color: transparent;
        border-radius: 1rem 1rem 0 0;
        padding: 1rem 0;

        width: 100vw;
        z-index: 99999;

        .dropdown {
            padding: 0;
        }

        .mobile-anchor {
            width: 90%;
            text-align: center;
            border-radius: 1rem;
            box-shadow: 2px 2px 0.5rem #000;
            color: var(--clr-white);
            text-shadow: 1px 1px 0.5rem #333;
        }

        .mobile-anchor-cat {
            background: var(--clr-gradient2);
            background: linear-gradient(90deg, var(--clr-gradient2) 36%, var(--clr-gradient1) 94%);
        }
            .mydropdown {
                color: var(--clr-white);
            }
        
    }
}

#toggle:checked~.vertical-nav {
    transform: translateY(100%);
}


/*.pc-nav*/

header {
    position: sticky;
    top: 0;
    z-index: 9999999;
}

.toggle-nav {
    display: flex;
    width: fit-content;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    position: fixed;
    top: 0;
    left: 0;
}


#toggle{
    display: none;
}



.pc-nav {
    display: none;
    background-color: var(--clr-yellow-ml);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    padding-bottom: 0;
}

.ctt-gradient {
    background-image: linear-gradient(20deg, var(--clr-gradient1), var(--clr-yellow-ml), var(--clr-gradient1));
    background-size: 300%;
    animation: moving-gradient 10s ease-in-out infinite alternate;
}

.pc-nav .logo {
    height: 6rem;
}

.busqueda {
    width: 70%;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.mysearch {
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 1rem;

    #search-input {
        width: 90%;
        border-radius: 0.5rem;
        border: none;
    }

    #search-button {
        margin: 0;
        border-radius: 0.5rem;
        background-color: var(--clr-blue-link);
        color: var(--clr-white);
        font-weight: bold;
        border: none;
    }
}

.nav-links {
    display: flex;
    gap: 1rem;
    justify-content: end;
    font-weight: bold;
    padding: 1rem 0;
}

.text-contrast {
    text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff,
        1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

/*      CAROUSEL        */
.carousel-item img {
    height: 450px;
    object-fit: cover;
}


/*      PAGOS       */
.pagos {
    font-size: 1.5rem;
    width: 90%;
    text-align: left;
    background-color: var(--clr-white);
    border-radius: 0.5em;
    box-shadow: 0.1em 0.1em .5em #888;
    padding: 1em 0;
    margin: 3em auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.medios-de-pago {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.fdpago {
    width: 19ch;
    text-align: center;
}


/*      destacados     */
.destacados-sect {
    width: 90%;
    margin: 0 auto;
}

.destacados-container {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.destacados-container .card {
    margin: 1em 0.25em;
    box-shadow: 0.1em 0.1em .5em #888;

}

.card img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
    border-bottom: 1px solid var(--background-clr);
}

.card {
    color: var(--clr-white);
    background-color: var(--clr-white);
    width: 18rem;
    transition: all 0.15s ease-in-out;
}

.card-header{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    box-shadow: none;
    border: 0;
}

.add-to-cart{
    background-color: transparent;
    border: 0;
}

.card-price {
    color: #333;
}

.disponibilidad {
    font-size: 1.1em;
    font-weight: 600;
}

.disponible {
    color: #39a82f;
}

.no-disponible {
    color: #6c6c6c;
}

.card .card-name {
    height: auto;
    width: inherit;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card:hover {
    color: #333;
    transform: scale(1.02);
}

/*      ADD BENEFICIOS      */
.destacados {
    width: 90%;
    margin: 0 auto;
    margin-top: 5em;
    box-shadow: 0.1em 0.1em .5em #888;
}

.p-gradient {
    font-size: 1.125em;
    margin: 0;
    padding: 0.5em 2em;

    background: var(--clr-gradient2);
    background: linear-gradient(90deg, var(--clr-gradient2) 36%, var(--clr-gradient1) 94%);

    display: flex;
    justify-content: space-between;
    align-items: end;

    color: var(--clr-white);
    font-weight: 500;

    border-radius: 0.5rem 0.5rem 0 0;
}


/*-------------*/
.benef-desc {
    background-color: var(--clr-white);
    border-radius: 0 0 0.5rem 0.5rem;
}

.benef-desc p {
    padding: 1em 0 0 3em;
}

.benef-desc ul {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--background-clr);
}

.benef-desc li {
    width: 30%;
    display: flex;
    align-items: center;
}

.benef-desc li img {
    height: 5rem;
    width: 5rem;
    object-fit: contain;
    border: 1px solid var(--background-clr);
    border-radius: 50%;
    margin-right: 0.5em;
}

.s-button {
    padding: 0 3em 1em 0;
    display: flex;
    justify-content: end;

}

/*      FOOTER      */
footer {
    background-color: var(--clr-yellow-ml);
    margin-top: 6em;
    height: auto;
    padding: 5em 0 2em 0;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
}

.footer-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 200px;
}

.footer-info img {
    width: 100px;
    height: 60px;
}

.footer-info .finfo-text {
    font-size: 0.7em;
}

.footer-info .imap {
    width: 100%;
    border: 1px solid var(--clr-white);
    border-radius: 0.5rem;
    display: block;
    position: relative;
    bottom: 1rem;
}

.finfo-a {
    font-weight: bold;
}

/*      TABLET      */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .carousel-item img {
        height: 250px;
        object-fit: cover;
    }
}

/*      MOBILE      */
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .nav-links {
        display: none;
    }
    .mysearch{
        margin-right: 5rem;
        width: auto;
    }
    .mobile-nav{
        display: block;
    }

    .carousel-item img {
        height: 125px;
        object-fit: cover;
    }

    .medios-de-pago {
        flex-flow: wrap;
        gap: 1rem;
    }

    .fdpago {
        width: 20ch;
        text-align: left;
    }

    footer{
        flex-wrap: wrap;
        gap: 3rem;
    }
}